absl-py==0.10.0
alabaster==0.7.10
anaconda-client==1.6.5
anaconda-navigator==1.6.9
anaconda-project==0.8.0
appnope==0.1.0
appscript==1.0.1
asn1crypto==1.4.0
astor==0.6.2
astroid==1.5.3
astropy==2.0.2
astunparse==1.6.3
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.7
awswrangler==2.8.0
Babel==2.5.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.3
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==1.5.0
blis==0.7.3
bokeh==0.12.10
boto==2.48.0
boto3==1.17.93
botocore==1.20.93
Bottleneck==1.2.1
Brotli==1.0.9
bz2file==0.98
cachetools==4.2.0
catalogue==1.0.0
certifi==2017.7.27.1
cffi==1.10.0
cfgv==3.2.0
chardet==3.0.4
chart-studio==1.1.0
click==8.0.1
cloudpickle==1.6.0
clyent==1.2.2
colorama==0.3.9
colorlover==0.3.0
conda==4.9.2
conda-build==3.0.27
conda-verify==2.0.0
config==0.5.0.post0
constantly==15.1.0
contextlib2==0.5.5
contextvars==2.4
cryptography==2.0.3
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.4
Cython==0.26.1
cytoolz==0.8.2
dash==2.0.0
dash-bootstrap-components==0.13.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==0.15.3
dataclasses==0.8
datashape==0.5.4
datefinder-lexpredict==0.6.2.1
dateparser==0.7.2
DateTime==4.2
decorator==4.4.2
dill==0.3.3
distributed==1.19.1
docopt==0.6.2
docutils==0.14
EasyProcess==0.3
emoji==0.6.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.2.3
et-xmlfile==1.0.1
excel-util==0.0.4
fastcache==1.0.2
feedparser==5.2.1
filelock==2.0.12
Flask==2.0.1
Flask-Compress==1.10.1
Flask-Cors==3.0.3
flatbuffers==1.12
funcsigs==1.0.2
future==0.16.0
gast==0.3.3
gensim==3.8.3
gevent==1.2.2
gin-config==0.4.0
glob2==0.5
gmplot==1.2.0
gmpy2==2.0.8
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
googlemaps==3.0.2
googletrans==3.0.0
graphviz==0.16
greenlet==0.4.12
grpcio==1.32.0
gym==0.18.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
heapdict==1.0.0
homebrew==0.2.1
hpack==3.0.0
hstspreload==2020.10.20
html5lib==0.9999999
htmlmin==0.1.12
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
hyperlink==19.0.0
identify==1.5.9
idna==2.6
ImageHash==4.2.1
imageio==2.2.0
imagesize==0.7.1
immutables==0.14
importlib-metadata==2.0.0
importlib-resources==3.3.0
incremental==17.5.0
ipykernel==4.6.1
ipython==6.1.0
ipython_genutils==0.2.0
ipywidgets==7.0.0
isort==4.2.15
itsdangerous==2.0.1
jax==0.2.8
jaxlib==0.1.59
jdcal==1.3
jedi==0.10.2
jellyfish==0.6.1
Jinja2==3.0.1
jmespath==0.9.3
joblib==1.0.1
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
kaggle==1.5.6
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Lasagne==0.1
lazy-object-proxy==1.3.1
llvmlite==0.20.0
locket==0.2.0
lxml==4.6.3
Markdown==2.6.11
MarkupSafe==2.0.1
matplotlib==3.3.4
mccabe==0.6.1
mesh-tensorflow==0.1.18
missingno==0.5.0
mistune==0.7.4
mltk==0.0.5
mlxtend==0.18.0
mpmath==0.19
mpu==0.23.1
msgpack-python==0.4.8
mtcnn==0.1.1
multimethod==1.4
multipledispatch==0.4.9
murmurhash==1.0.4
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
nbmerge==0.0.4
networkx==2.5.1
nltk==3.5
nodeenv==1.5.0
nose==1.3.7
notebook==5.0.0
np-utils==0.5.12.1
num2words==0.5.10
numba==0.35.0+6.gaa35fb1
numexpr==2.6.2
numpy==1.19.4
numpydoc==0.7.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.44
opencv-contrib-python==4.5.3.56
opencv-python==4.2.0.34
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==16.8
pandas==1.1.5
pandas-datareader==0.10.0
pandas-profiling==3.0.0
pandas-util==0.0.1
pandocfilters==1.4.2
parsel==1.6.0
partd==0.3.8
path.py==10.3.1
pathlib2==2.3.0
patsy==0.4.1
pep8==1.7.0
pexpect==4.2.1
pg8000==1.19.5
phik==0.12.0
pickleshare==0.7.4
Pillow==7.2.0
pkginfo==1.4.1
plac==1.1.3
platformdirs==2.3.0
plotly==5.3.1
pluggy==0.13.1
ply==3.10
portalocker==2.0.0
preprocess-kgptalkie @ git+https://github.com/laxmimerit/preprocess_kgptalkie.git@9ca68d37027af9f6a30d54640347ce3b2e2694b3
preshed==3.0.4
promise==2.3
prompt-toolkit==1.0.15
Protego==0.1.16
protobuf==3.12.2
psutil==5.4.0
ptyprocess==0.5.2
py==1.4.34
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycosat==0.6.2
pycountry==20.7.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pydantic==1.8.2
PyDispatcher==2.0.5
pydot==1.4.2
pydotplus==2.0.2
pyflakes==1.6.0
pyglet==1.5.0
Pygments==2.2.0
PyHamcrest==2.0.2
pylint==1.7.4
pymongo==3.6.1
PyMuPDF==1.18.14
PyMySQL==1.0.2
pyodbc==4.0.17
pyOpenSSL==17.2.0
pyparsing==2.2.0
PyPDF2==1.26.0
PySocks==1.6.7
pytesseract==0.2.2
pytest==3.2.1
python-dateutil==2.8.1
python-slugify==4.0.1
python-utils==2.4.0
pytz==2021.1
PyVirtualDisplay==1.3.2
PyWavelets==0.5.2
PyYAML==5.4.1
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
queuelib==1.5.0
redshift-connector==2.0.881
regex==2020.7.14
reporters-db==2.0.3
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986==1.4.0
rope==0.10.5
rouge-score==0.0.4
rsa==4.7
ruamel_yaml==0.11.14
s3transfer==0.4.2
sacrebleu==1.4.14
sacremoses==0.0.43
scikit-image==0.13.0
scikit-learn==0.23.2
scipy==1.5.4
scramp==1.4.0
Scrapy==2.1.0
seaborn==0.11.1
selenium==3.11.0
sentencepiece==0.1.95
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
smart-open==4.0.1
sniffio==1.2.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
soupsieve==2.2.1
spacy==2.3.4
spacy-lookups-data==0.3.2
SpeechRecognition==3.8.1
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
spyder==3.2.4
SQLAlchemy==1.1.13
srsly==1.0.4
statsmodels==0.8.0
sweetviz==2.1.2
sympy==1.1.1
t5==0.8.1
tables==3.4.2
tangled-up-in-unicode==0.1.0
tblib==1.3.2
tenacity==8.0.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-datasets==4.2.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.11.0
tensorflow-metadata==0.26.0
tensorflow-text==2.4.3
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
text-unidecode==1.3
textblob==0.15.3
tfds-nightly==4.2.0.dev202101150106
Theano==1.0.2
thinc==7.4.3
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.2
toolz==0.8.2
torch==1.5.1
torchvision==0.6.1
tornado==4.5.2
tqdm==4.62.1
traitlets==4.3.2
transformers==4.2.1
trax==1.3.9
tweepy==3.10.0
Twisted==20.3.0
twitter==1.18.0
typing==3.6.2
typing-extensions==3.7.4.3
tzlocal==2.1
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.11
us==2.0.2
visions==0.7.1
w3lib==1.22.0
wasabi==0.8.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.0.2
wordcloud==1.8.1
wrapt==1.12.1
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.4
xlwt==1.2.0
zict==0.1.3
zipp==3.4.0
zope.interface==4.5.0
